<div class="d-flex justify-content-center flex-column align-items-center m-4" id="wrap">
    <h1 class="mb-4">Disclaimer</h1>
    <p class="w-50">
        The simulations on Blox are for entertainment and educational purposes only. The site is limited to personal, non-commercial use and the content contained therein may not be copied, modified, duplicated or distributed in any form or for any reason without the express written consent of the owner. Data provided on this site may be delayed as specified by financial exchanges information providers. 
        The owner and its vendors believe their data and text services to be reliable but accuracy is not warranted or guaranteed.
    </p>
    <h5 class="w-50">THIS SITE DOES NOT OFFER, SOLICIT OR ARRANGE FOR THE SALE OR PURCHASE OF SECURITIES. THE SITE AND ITS LEADERBOARD ARE PART OF A CRYPTOCURRENCY MARKET SIMULATION. NO ACTUAL SECURITIES ARE PURCHASED, SOLD OR TRADED AS PART OF THE SIMULATION. ALL INFORMATION IS PROVIDED FOR ENTERTAINMENT AND EDUCATIONAL PURPOSES ONLY. DON'T SUE US.</h5>
</div>

<!-- modeled after https://www.californiasms.com/content/terms-->