<p>trading-chart works!</p>

<div id="tradingChart" class="row">
  <div id="holds" class="col">
    <h2>Holds</h2>

    <!--Top Row of trading chart/table-->
    <div class="row">
      <div class="col">Symbol</div>
      <div class="col">Days Remaining</div>
      <div class="col">Quantity</div>
    </div>
    <!--go through the tradingHolds array so that the entire array gets put onto the chart-->
    <!--<div class="row" *ngFor="let trades of tradingHolds; let i = index">
      <div class="col">{{trades[0]}}</div>
      <div class="col">{{trades[1]}}</div>
      <div class="col">{{trades[2]]}}</div>
    </div>-->
  </div>
  <div id="symbolGraph" class="row">
    <h2>Stock Graph</h2>
    <!--Insert widget -> need the variables from the form.-->
  </div>
</div>